<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite thread-count="3" parallel="cla" name="Suite">
  <test name="Test1">
    <classes>
      <class name="parallelexecutionClasses.addnationality"/>

    </classes>
  </test> <!-- Test -->

<test name="Test2">
    <classes>
      <class name="parallelexecutionClasses.addnationality"/>
    </classes>
  </test>

<test name="Test3">
    <classes>
      <class name="parallelexecutionClasses.addnationality"/>
    </classes>
  </test>
</suite> <!-- Suite -->
